<section
    class="mb-28 max-w-[45rem] mx-auto text-center leading-9 px-2 sm:mb-40 scroll-mt-28"
>
    <p class="text-pretty text-gray-600 dark:text-gray-300">
        <strong
            >La Primera vez que programé fue para un Bot de Discord cuando tenia
            14 años utilizando JavaScript.</strong
        > Después de completar el bachillerato, decidí seguir mi pasión por la
        programación. Me inscribí en el Bootcamp de programación de <a
            class="hover:underline text-gray-800 dark:text-gray-200"
            href="https://app.ed.team/cursos"
            target="_blank">EDteam</a
        > desde entonces, Me profundicé en el mundo del
        <span class="font-semibold text-yellow-500 dark:text-yellow-200"
            >Desarrollo Web y disfruto creando experiencias para los usuarios.</span
        >
    </p>

    <p class="text-pretty text-gray-600 dark:text-gray-300">
        <span class="text-gray-700 dark:text-gray-200"
            >Actualmente estoy buscando un puesto como desarrollador.</span
        > Mi conjunto de tecnologías abarca el Frontend, y he trabajado para
        proyectos personales. <br />
        <span class="font-semibold text-yellow-500 dark:text-yellow-200"
            >Mi objetivo es ser un Desarollador FullStack y compartir mis
            conocimientos y experiencias.</span
        >
    </p>
</section>
