---
import HtmlIcon from "../components/icons/icons-tech/HTML.astro";
import CssIcon from "../components/icons/icons-tech/Css.astro";
import JSIcon from "../components/icons/icons-tech/JS.astro";
import ReactIcon from "../components/icons/icons-tech/React.astro";
import VueIcon from "../components/icons/icons-tech/Vue.astro";
import TailwindIcon from "./icons/icons-tech/Tailwind.astro";
import TypeScriptIcon from "./icons/icons-tech/TypeScript.astro";
import GitIcon from "../components/icons/icons-tech/Git.astro";
import AstroIcon from "../components/icons/icons-tech/Astro.astro";
---

<ul class="flex flex-wrap justify-center gap-1 text-lg text-gray-800">
    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <HtmlIcon />
             HTML
        </span>
    </li>
    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <CssIcon />
             CSS
        </span>
    </li>

    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <TailwindIcon />
             Tailwind
        </span>
    </li>
    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <JSIcon />
             JavaScript
        </span>
    </li>

    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <AstroIcon />
             Astro
        </span>
    </li>

    <li
        class="bg-[#1f2937] hover:bg-black inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    >
        <span class="flex items-center justify-center gap-1.5">
            <GitIcon />
             Git</span
        >
    </li>
</ul>

<!-- <li
    class="bg-black hover:bggray-800/5hover:bg-gray-800700 inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    
>
    <span class="flex items-center justify-center gap-1.5">
        <ReactIcon /> React.js
    </span>
</li>
<li
    class="bg-black hover:bggray-800/5hover:bg-gray-800700 inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    
>
    <span class="flex items-center justify-center gap-1.5">
        <VueIcon />
         Vue.js</span
    >
</li>

<li
    class="bg-black hover:bggray-800/5hover:bg-gray-800700 inline-block mx-1 md:mx-1 py-1.5 px-2.5 md:py-2 md:px-4 text-xs md:text-sm transition rounded-full border mb-2 cursor-pointer text-white border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
    
>
    <span class="flex items-center justify-center gap-1.5">
        <TypeScriptIcon />
         TypeScript
    </span>
</li>
 -->
